// colors variables
$primary-clr: #0c3453;
$secondary-clr: #7c97b8;
$text-clr: #94a2b3;
$link-clr: #299ef3;
$white-clr: #ffffff;
$circles-clr: #ffba49;

// fonts
$important-font: "Poppins", sans-serif;
$text-font: "Roboto", sans-serif;

// layouts indexes
$top-level: 20;
$popups: 10;
$overlays: 5;
$forward: 2;
$behind: -5;
